* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    background-color: #ffc0cb;
}

h1 {
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
}

img {
    width: 500px;
    height: auto;
}

ul {
    list-style: inside circle;
}

ul.index {
    /* margin: 0 auto; */
    /* width: 500; */
    padding: 0;
}

.index > li {
    /* background-color: coral; */
    margin: 38px;
    text-align: center;
}